<div class="tool-page">
    <h2>Conversor de Tempo</h2>
    <p class="tool-description">Converta o tempo em segundos para HH:MM:SS ou HH:MM:SS para segundos</p>
    <div class="tool-card time-tool">
         <div class="tool-content">
            <input
            class="tool-input"             
            type="text" 
            id="inputTime" 
            [(ngModel)]="inputTime"
            (input)="onInputChange($event)" 
            placeholder="HH:MM:SS ou Segundos" />
            <div class="button-group">                    
                <button class="btn" (click)="calcular()">Copiar</button>
                <button class=" btn btn-secondary" (click)="limpar()">Limpar</button>
            </div> 
            <div class="tool-output">
                {{ result }}
                {{ errorMessage }}
            </div>
        </div>
    </div>
</div> 