<div class="tc-container">
    <h1 class="tc-title">Conversor de Tempo</h1>
    <div class="tc-input-group">
        <label for="inputTime">Tempo (Formato HH:MM:SS ou em Segundos):</label>
        <input 
        type="text" 
        id="inputTime" 
        [(ngModel)]="inputTime"
        (input)="onInputChange($event)" 
        placeholder="HH:MM:SS ou Segundos" />
    </div>
    <div class="tc-buttons">
        <button (click)="calcular()">Copiar</button>
        <button (click)="limpar()">Limpar</button>
    </div>    
    <p *ngIf="result">Conversão: {{ result }}</p>
    <p *ngIf="errorMessage" class="error">{{ errorMessage }}</p>
</div> 