<div class="tool-page">
    <h2>JSON Formatter</h2>
    <p class="tool-description">Formate e copie o JSON facilmente.</p>
    <div class="tool-card time-tool">
        <div class="tool-content">
            <textarea class="tool-input" [(ngModel)]="jsonInput" rows="5" placeholder="Cole seu JSON aqui..."></textarea>    
            <div class="button-group">
                <button class="btn" (click)="formatJson()">Formatar e Copiar JSON</button>
                <button class="btn btn-secondary" (click)="clearJson()">Limpar</button>
            </div>
            <pre class="tool-output">{{ formattedJson }}</pre>
        </div>
    </div>    
</div>
    