<header>
  <div class="header-container">
    <div class="logo">
      <h1><a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Mining Tools</a></h1>
    </div>
    <nav>
      <ul>
        <li><a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Home</a></li>
        <li><a routerLink="/time-calculator" routerLinkActive="active">Conversor de Tempo</a></li>
        <li><a routerLink="/json-formatter" routerLinkActive="active">JSON Formatter</a></li>
      </ul>
    </nav>
  </div>
</header>