<div class="intro">
  <h2>Ferramentas Úteis para o Dia a Dia</h2>
  <p>Uma coleção de ferramentas essenciais para otimizar seu trabalho e aumentar a produtividade.</p>
</div>

<div class="tools-grid">
  <div class="tool-card time-tool" routerLink="/time-calculator">
    <h3>Conversor de Tempo</h3>
    <div class="tool-content">
      <p>Converta o tempo em segundos para HH:MM:SS ou HH:MM:SS para segundos</p>
      <button class="btn">Abrir Ferramenta</button>
    </div>
  </div>

  <div class="tool-card json-tool" routerLink="/json-formatter">
    <h3>JSON Formatter</h3>
    <div class="tool-content">
      <p>Formata e valida suas strings JSON para melhor legibilidade.</p>
      <button class="btn">Abrir Ferramenta</button>
    </div>
  </div>
</div>