.home-container {
    margin: 50px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.link-list {
    display: flex;
    gap: 1rem;
    
}

.link-list li {
    font-size: 2rem;
    
}

.link-list a {
    
}